@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  background-color: #516dff;
  color: #fff;
  font-family: "Press Start 2P", cursive;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}

a {
  color: #fff;
}

h1 {
  line-height: 1.4;
  margin: 0;
}

p {
  margin: 0 0 5px;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.screen.up {
  margin-top: -100vh;
}

.btn {
  border: 0;
  background-color: #fff;
  color: #516dff;
  padding: 15px 20px;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: 0;
}

.insects-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 5px 0;
}

.insects-list li {
  margin: 10px;
}

.choose-insect-btn {
  background-color: #a3b2ff;
  border: 1px solid #1c2a39;
  cursor: pointer;
  font-family: inherit;
}

.choose-insect-btn:hover {
  background-color: #fff;
  color: #516dff;
}

.choose-insect-btn:active {
  background-color: rgba(255, 255, 255, 0.7);
}

.choose-insect-btn img {
  width: 80px;
  height: 100px;
  padding: 5px 0;
  stroke: 2px greenyellow;
}

.game-container {
  position: relative;
}

.time,
.score {
  position: absolute;
  top: 20px;
}

.time {
  left: 20px;
}

.score {
  right: 20px;
}

.message {
  line-height: 1.6;
  background-color: rgba(0, 0, 0, 0.5);
  width: 50%;
  padding: 20px;
  z-index: 100;
  text-align: center;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -150%);
  transition: transform 0.4s ease-in;
}

.message.visible {
  transform: translate(-50%, 150%);
  opacity: 1;
}

.insect {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  position: absolute;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s ease-in-out;
}

.insect.caught {
  transform: translate(-50%, -50%) scale(0);
}

.insect img {
  width: 150px;
  height: 150px;
}
